<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-pills card-header-pills">
            <li class="nav-item">
                <a class="nav-link active" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Aliquotas</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Dados Bancarios</a>
            </li>
        </ul>
    </div>
</div>
<div class="container">
    <router-outlet></router-outlet>
</div>